@config '../tailwind.config.js';
@import "tailwindcss";

/* Global styles */
* {
  box-sizing: border-box;
}

body {
  font-family: 'IBM Plex Mono', monospace;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Caveat', cursive;
}

.header-mask {
  mask-image: radial-gradient(circle at 12px 12px, transparent 11px, black 11px);
  -webkit-mask-image: radial-gradient(circle at 12px 12px, transparent 11px, black 11px);
  mask-size: 24px 24px;
  -webkit-mask-size: 24px 24px;
  mask-repeat: repeat-x;
  -webkit-mask-repeat: repeat-x;
  mask-position: 12px 0;
  -webkit-mask-position: 12px 0;
}

.background-grid-pattern {
  --grid-base: #FFFCF7;
  --grid-line: #e8ddcd59;
  background-color: var(--grid-base);
  background-image:
    linear-gradient(to right, var(--grid-line) 1px, transparent 1px),
    linear-gradient(to bottom, var(--grid-line) 1px, transparent 1px);
  background-size: 16px 16px;
  background-position: 0 0;
}

.recipe-drawer-paper {
  --margin-offset: 60px;
  --margin-gap: 14px;
  --line-width: 2px;
  --line-color: #FF7265;
  --row-height: 28px;
  --grid-offset: 88px;

  background-color: #ffffff;
  background-image:
    linear-gradient(
      to right,
      transparent var(--margin-offset),
      var(--line-color) var(--margin-offset),
      var(--line-color) calc(var(--margin-offset) + var(--line-width)),
      transparent calc(var(--margin-offset) + var(--line-width)),
      transparent calc(var(--margin-offset) + var(--margin-gap)),
      var(--line-color) calc(var(--margin-offset) + var(--margin-gap)),
      var(--line-color) calc(var(--margin-offset) + var(--margin-gap) + var(--line-width)),
      transparent calc(var(--margin-offset) + var(--margin-gap) + var(--line-width))
    ),
    repeating-linear-gradient(
      to bottom,
      #E1E1E1 0,
      #E1E1E1 1px,
      transparent 1px,
      transparent var(--row-height)
    );
  background-size: 100% 100%, 100% var(--row-height);
  background-position: left 0 top 0, left 0 top var(--grid-offset);
  background-repeat: no-repeat, repeat;
  background-attachment: local, local;
}

.recipe-drawer-title-line {
  display: block;
  height: var(--line-width);
  background-color: var(--line-color);
}
